<%= form_for(@student_score) do |f| %>
  <% if @student_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_score.errors.count, "error") %> prohibited this student_score from being saved:</h2>

      <ul>
      <% @student_score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br>
    <%= f.number_field :subject_id %>
  </div>
  <div class="field">
    <%= f.label :mid_exam_score %><br>
    <%= f.number_field :mid_exam_score %>
  </div>
  <div class="field">
    <%= f.label :finel_exam_score %><br>
    <%= f.number_field :finel_exam_score %>
  </div>
  <div class="field">
    <%= f.label :total_assessment %><br>
    <%= f.number_field :total_assessment %>
  </div>
  <div class="field">
    <%= f.label :resit_score %><br>
    <%= f.number_field :resit_score %>
  </div>
  <div class="field">
    <%= f.label :resit_assessment %><br>
    <%= f.number_field :resit_assessment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
