<p id="notice"><%= notice %></p>

<h1>Listing Student Scores</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Subject</th>
      <th>Mid exam score</th>
      <th>Finel exam score</th>
      <th>Total assessment</th>
      <th>Resit score</th>
      <th>Resit assessment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_scores.each do |student_score| %>
      <tr>
        <td><%= student_score.student_id %></td>
        <td><%= student_score.subject_id %></td>
        <td><%= student_score.mid_exam_score %></td>
        <td><%= student_score.finel_exam_score %></td>
        <td><%= student_score.total_assessment %></td>
        <td><%= student_score.resit_score %></td>
        <td><%= student_score.resit_assessment %></td>
        <td><%= link_to 'Show', student_score %></td>
        <td><%= link_to 'Edit', edit_student_score_path(student_score) %></td>
        <td><%= link_to 'Destroy', student_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student score', new_student_score_path %>
