<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student_score.student_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @student_score.subject_id %>
</p>

<p>
  <strong>Mid exam score:</strong>
  <%= @student_score.mid_exam_score %>
</p>

<p>
  <strong>Finel exam score:</strong>
  <%= @student_score.finel_exam_score %>
</p>

<p>
  <strong>Total assessment:</strong>
  <%= @student_score.total_assessment %>
</p>

<p>
  <strong>Resit score:</strong>
  <%= @student_score.resit_score %>
</p>

<p>
  <strong>Resit assessment:</strong>
  <%= @student_score.resit_assessment %>
</p>

<%= link_to 'Edit', edit_student_score_path(@student_score) %> |
<%= link_to 'Back', student_scores_path %>
