<% content_for :title, 'ダッシュボード' %>

<div class="row">
  <div class="col m4 s12">
    <h5><%= current_teacher.name %></h5>
    <p>
      ID:&nbsp;<%= current_teacher.login_id %><br>
      <br>
      <%= link_to edit_teacher_path(current_teacher), class: 'btn' do %>
        <%= fa_icon 'edit' %>&nbsp;ユーザ情報編集
      <% end %>
      <%= link_to logout_path, class: 'btn  red darken-2' do %>
        <%= fa_icon 'sign-out' %>&nbsp;ログアウト
      <% end %>
    </p>
  </div>
  <div class="col m4 s12">
    
  </div>
  <div class="col m4 s12">
    
  </div>
</div>

<div class="divider"></div>



<div class="row section">
  <div class="col m6 s12">
    <div class="collection z-depth-1">
      <div class="collection-item">
        <h5><%= fa_icon 'users' %>&nbsp;担当クラス</h5>
      </div>
      <% current_teacher.school_classes.each do |c| %>
        <%= link_to c, class: 'collection-item' do  %>
          <%= c.name %>
          <span class="secondary-content">
            <%= c.students.length %>&nbsp;
            <%= fa_icon 'user' %>
          </span>
        <% end %>
      <% end %>
      <%= link_to new_school_class_path, class: 'collection-item' do %>
        <%= fa_icon 'plus' %>&nbsp;担当クラスを作成
      <% end %>
    </div>
  </div>
  <div class="col m6 s12">
    <div class="collection z-depth-1">
      <div class="collection-item">
        <h5><%= fa_icon 'pencil' %>&nbsp;担当科目</h5>
      </div>
      <% current_teacher.subjects.each do |s| %>
        <%= link_to s, class: 'collection-item' do %>
          <%= s.name %>
          <span class="secondary-content">
            <%= s.students.length %>&nbsp;
            <%= fa_icon 'user' %>
          </span>
        <% end %>
      <% end %>
      <%= link_to new_subject_path, class: 'collection-item' do %>
        <%= fa_icon 'plus' %>&nbsp;担当科目を作成
      <% end %>
    </div>
  </div>
</div>

