<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label '名前' %>
    <%= f.text_field :name %>
  </div>
  <div class="input-field">
    <%= f.label 'かな' %>
    <%= f.text_field :kana %>
  </div>
  <div class="input-field">
    <%= f.label '学籍番号' %>
    <%= f.text_field :student_number %>
  </div>
  <div class="actions">
    <%= f.submit '保存', class: 'btn', data: { disable_with: "保存中..." } %>
  </div>
<% end %>
