<% content_for :title, "生徒一覧" %>

<table>
  <thead>
    <tr>
      <th>学籍番号</th>
      <th>名前</th>
      <th>かな</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.student_number %></td>
        <td><%= student.name %></td>
        <td><%= student.kana %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
