<% content_for :title, "生徒情報" %>

<p>
  <strong>名前:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>かな:</strong>
  <%= @student.kana %>
</p>

<p>
  <strong>Student number:</strong>
  <%= @student.student_number %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
