<div class="collection with-header">
  <div class="collection-header teal white-text">
    <h5>ログイン</h5>
  </div>
  <div class="collection-item">
    <%= form_tag login_path do %>
      <div class="row">
        <div class="input-field col s12">
          <%= label_tag :login_id, 'ユーザー名' %>
          <%= text_field_tag :login_id, params[:login_id] %>
        </div>
        <div class="input-field col s12">
          <%= label_tag :password, 'パスワード' %>
          <%= password_field_tag :password, params[:password] %>
        </div>
      </div>
      <div class="center-align">
        <%= submit_tag 'ログイン', class: 'btn deep-orange', data: { disable_with: "ログイン処理中..." } %>
      </div>
    <% end %>
  </div>
</div>