<%= form_for(@school_class_master) do |f| %>
  <% if @school_class_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school_class_master.errors.count, "error") %> prohibited this school_class_master from being saved:</h2>

      <ul>
      <% @school_class_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :enough_credits %><br>
    <%= f.number_field :enough_credits %>
  </div>
  <div class="field">
    <%= f.label :enough_times %><br>
    <%= f.number_field :enough_times %>
  </div>
  <div class="field">
    <%= f.label :graduation_grade %><br>
    <%= f.number_field :graduation_grade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
