<% content_for :title, '学科マスター一覧' %>

<h1>Listing School Class Masters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Enough credits</th>
      <th>Enough times</th>
      <th>Graduation grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_class_masters.each do |school_class_master| %>
      <tr>
        <td><%= school_class_master.name %></td>
        <td><%= school_class_master.enough_credits %></td>
        <td><%= school_class_master.enough_times %></td>
        <td><%= school_class_master.graduation_grade %></td>
        <td><%= link_to 'Show', school_class_master %></td>
        <td><%= link_to 'Edit', edit_school_class_master_path(school_class_master) %></td>
        <td><%= link_to 'Destroy', school_class_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School class master', new_school_class_master_path %>
