<% content_for :title, '学科マスター' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school_class_master.name %>
</p>

<p>
  <strong>Enough credits:</strong>
  <%= @school_class_master.enough_credits %>
</p>

<p>
  <strong>Enough times:</strong>
  <%= @school_class_master.enough_times %>
</p>

<p>
  <strong>Graduation grade:</strong>
  <%= @school_class_master.graduation_grade %>
</p>

<%= link_to 'Edit', edit_school_class_master_path(@school_class_master) %> |
<%= link_to 'Back', school_class_masters_path %>
