<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">成績管理システム</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">管理ログイン</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">ヘルプ</a></li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12 right-align">
        <a href="#top" class="scroll-link btn-floating btn-large waves-effect waves-light deep-orange" style="margin-top: -60px;" title="ページトップへ"><%= fa_icon 'angle-up' %></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
      &copy; 2015 Odd Team
    </div>
  </div>
</footer>