<header class="navbar-fixed" id="top">
  <nav class="teal">
    <div class="nav-wrapper">
    <a href="#top" class="brand-logo center scroll-link">成績管理システム</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="classes">担当クラス<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="subjects">担当科目<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        <li><%= link_to fa_icon("home"), root_path, title: 'HOME' %></li>
        <li><%= link_to fa_icon("sign-out"), logout_path, title: 'ログアウト' %></li>
      </ul>

      <ul id="slide-out" class="side-nav">
        <li><%= link_to 'HOME', root_path %></li>
        <li><%= link_to 'クラス一覧', school_classes_path %></li>
        <li><%= link_to '教員一覧', teachers_path %></li>
        <li><%= link_to '生徒一覧', students_path %></li>
        <li><%= link_to '科目マスター', subject_masters_path %></li>
        <li><%= link_to '科目一覧', subjects_path %></li>
        <hr>
        <li><%= link_to "ログアウト", logout_path, title: 'ログアウト' %></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</header>

<!-- Dropdown Structure -->
<ul id="classes" class="dropdown-content">
  <% current_teacher.school_classes.each do |school_class| %>
    <li><%= link_to school_class.name, school_class %></li>
  <% end %>
  <li class="divider"></li>
  <li><%= link_to '担当クラス作成', new_school_class_path %></li>
</ul>

<!-- Dropdown Structure -->
<ul id="subjects" class="dropdown-content">
  <% current_teacher.subjects.each do |subject| %>
    <li><%= link_to subject.name, subject %></li>
  <% end %>
  <li class="divider"></li>
  <li><%= link_to '担当科目作成', new_subject_path %></li>
</ul>
