<%= form_for(@subject_master) do |f| %>
  <% if @subject_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject_master.errors.count, "error") %> prohibited this subject_master from being saved:</h2>

      <ul>
      <% @subject_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :credit %><br>
    <%= f.number_field :credit %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.number_field :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
