<% content_for :title, '科目マスター一覧' %>

<h1>Listing Subject Masters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Credit</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subject_masters.each do |subject_master| %>
      <tr>
        <td><%= subject_master.name %></td>
        <td><%= subject_master.credit %></td>
        <td><%= subject_master.time %></td>
        <td><%= link_to 'Show', subject_master %></td>
        <td><%= link_to 'Edit', edit_subject_master_path(subject_master) %></td>
        <td><%= link_to 'Destroy', subject_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject master', new_subject_master_path %>
