<% content_for :title, '科目マスター情報' %>

<p>
  <strong>Name:</strong>
  <%= @subject_master.name %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @subject_master.credit %>
</p>

<p>
  <strong>Time:</strong>
  <%= @subject_master.time %>
</p>

<%= link_to 'Edit', edit_subject_master_path(@subject_master) %> |
<%= link_to 'Back', subject_masters_path %>
