<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label :履修 %><br>
    <%= f.radio_button :subject_type, '必修', id: 'radio-1', checked: true %><%= f.label "必修", for: 'radio-1' %><br>
    <%= f.radio_button :subject_type, '選択', id: 'radio-2' %><%= f.label "選択", for: 'radio-2' %><br><br>
  </div>
  <div class="input-field">
    <%= f.label :履修年度 %><br>
    <% years = (1946..(Time.now.year+5)).to_a %>
    <% ryears= years.reverse %>
    <%= f.select :year, ryears.map{|a| [a, a] }, {:include_blank => '選択してください'} %>
  </div>
  <div class="input-field">
    <%= f.label :学期 %><br>
    <!-- %= f.number_field :semester %-->
    <%= f.radio_button :semester, 1, id: 'radio-3', checked: true %><%= f.label "前期", for: 'radio-3' %><br>
    <%= f.radio_button :semester, 2, id: 'radio-4' %><%= f.label "後期", for: 'radio-4' %>
  </div><br>
  <div class="input-field">
    <%= f.label :科目 %><br>
    <!-- %= f.number_field :subject_master_id % -->
    <%= f.collection_select :subject_master_id, @subject_masters, :id, :name , {:include_blank => '選択してください'}%><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
