<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :subject_master_id, value: @subject_master.id %>

  <div class="row">
    <div class="col s12">履修科目 (必修/選択)</div>
    <div class="input-field col s6 m6 l6">
      <%= f.select :subject_master_id, { @subject_master.name => @subject_master.id }, {}, {disabled: true}  %>
    </div>

    <div class="input-field col s6 m6 l6">
      <%= f.radio_button :subject_type, '必修', id: 'radio-1', checked: true %>
      <%= f.label "必修", for: 'radio-1' %>
      <%= f.radio_button :subject_type, '選択', id: 'radio-2' %>
      <%= f.label "選択", for: 'radio-2' %>
    </div>
  </div>

  <div class="row">
    <div class="col s12">履修年度 (西暦)</div>
    <div class="input-field col s4 m2 l2">
      <% year = Time.now.year %>
      <%= f.number_field :year, value: year, min: 1946, required: true %>
    </div>

    <div class="input-field col s8 m10 l10">
      <!-- %= f.number_field :semester %-->
      <%= f.radio_button :semester, 1, id: 'radio-3', checked: true %>
      <%= f.label "前期", for: 'radio-3' %>
      <%= f.radio_button :semester, 2, id: 'radio-4' %>
      <%= f.label "後期", for: 'radio-4' %>
    </div>
  </div>

  <div class="center-align">
    <%= f.submit '作成', class: 'btn' %>
  </div>
<% end %>