<% content_for :title, '科目一覧' %>

<%= search_form_for @q do |f| %>
  <div class="row card-panel">
    <div class="input-field col s12 m12 l5">
      <%= f.text_field :subject_master_name_cont %>
      <%= f.label :subject_master_name_cont, "科目名" %>
    </div>
    <div class="input-field col s12 m3 l2">
      <%= f.number_field :year_eq, value: Time.now.year, min: 1946 %>
      <%= f.label :year_eq, "年度" %>
    </div>
    <div class="input-field col s12 m3 l2">
      <%= f.select :semester_eq, {"学期を選択" => nil ,"前期" => 1, "後期" => 2} %>
      <%= f.label :semester_eq, "学期" %>
    </div>
    <div class="input-field col s12 m3 l2">
      <%= f.select :subject_type_eq, {"科目種別を選択" => nil ,"必修" => "必修", "選択" => "選択"} %>
      <%= f.label :subject_type_eq, "科目種別" %>
    </div>
    <div class="input-field col s12 m3 l1">
      <%= button_tag class: 'btn-floating waves-effect waves-light' do %>
        <%= fa_icon 'search' %>
      <% end %>
    </div>
  </div>
<% end %>

<table class="hoverable">
  <thead>
    <tr>
      <th>科目種別</th>
      <th><%= sort_link(@q, :year, '履修年度') %></th>
      <th>学期</th>
      <th><%= sort_link(@q, :subject_master_name, '科目名') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.subject_type %></td>
        <td><%= subject.year %></td>
        <td><%= subject.semester_to_string %></td>
        <td><%= subject.name %></td>
        <td><%= link_to 'Show', subject %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to new_subject_path, class: "btn-floating btn-large tooltipped waves-effect waves-light deep-orange", data: { position: "top", tooltip: "科目作成" } do %>
  <%= fa_icon 'plus' %>
<% end %>
