<% content_for :title, '科目作成' %>

<% unless @subject %>
  <%= link_to '科目マスター選択', new_subject_path, class: 'black-text' %> <%= fa_icon 'arrow-right' %> <span class="grey-text text-lighten-2">科目情報入力</span>
  <div class="divider"></div>
  <h5>科目マスター選択</h5>

  <div class="collection">
    <%= search_form_for @q, url: new_subject_path, class: 'collection-item' do |f| %>
      <div class="row">
        <div class="input-field col s12 m10 l11">
          <%= f.text_field :name_cont %>
          <%= f.label :name_cont, "科目名" %>
        </div>
        <div class="input-field col s12 m2 l1">
          <%= button_tag class: 'btn-floating waves-effect waves-light' do %>
            <%= fa_icon 'search' %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% @subject_masters.each do |master| %>
      <%= link_to master.name, new_subject_master_subject_path(master), class: 'collection-item' %>
    <% end %>
  </div>

<% else %>

  <%= link_to '科目マスター選択', new_subject_path, class: 'grey-text text-lighten-2' %> <%= fa_icon 'arrow-right' %> 科目情報入力
  <div class="divider"></div>

  <h5>科目情報入力</h5>
  <br>
  <%= render 'new_form' %>

<% end %>
