<p id="notice"><%= notice %></p>

<h1><%= @subject.name %></h1>

<div class="row">
</div>
<p>
  <strong>Type:</strong>
  <%= @subject.subject_type %>
</p>

<p>
  <strong>Year:</strong>
  <%= @subject.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @subject.semester %>
</p>

<div class="row">
  <div class="col m6">
    <h5>講師</h5>
    <div class="collection">
      <% @subject.teachers.each do |teacher| %>
        <%= link_to teacher.name, teacher, class: 'collection-item' %>
      <% end %>
    </div>
  </div>
  <div class="col m6">
    <h5>生徒</h5>
    <div class="collection">
      <% @subject.students.each do |student| %>
        <%= link_to student.name, student, class: 'collection-item' %>
      <% end %>
    </div>
  </div>
</div>
<hr>
<h5>成績</h5>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
