<% content_for :title, 'クラス一覧' %>
<% if @school_classes %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Grade</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_classes.each do |school_class| %>
      <tr>
        <td><%= school_class.name %></td>
        <td><%= school_class.grade %></td>
        <td><%= school_class.year %></td>
        <td><%= link_to 'Show', school_class %></td>
        <td><%= link_to 'Edit', edit_school_class_path(school_class) %></td>
        <td><%= link_to 'Destroy', school_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'New School class', new_school_class_path %>
