<% content_for :title, "クラス情報" %>

<h4>
  <%= @school_class.year %>年度 <%= @school_class.name %> <%= @school_class.grade %>年生
  <% if @school_class.teachers.include?(current_teacher) %>
    <%= link_to edit_school_class_path(@school_class) do %>
      <%= fa_icon 'edit' %>
    <% end %>
  <% end %>
</h4>

<h5>担当教員</h5>
<div class="collection">
  <% @school_class.teachers.each do |t| %>
    <%= link_to t.name, t, class: 'collection-item' %>
  <% end %>
</div>

<% if @school_class.teachers.include?(current_teacher) %>
  <%= link_to "#modal1", class: 'btn blue' do %>
    <%= fa_icon 'plus' %>&nbsp;担当教員を追加
  <% end %>

  <%= link_to "#modal1", class: 'btn red' do %>
    <%= fa_icon 'trash-o' %>&nbsp;担当を解除
  <% end %>
<% end %>

<h5>生徒</h5>
<div class="collection">
  <% @school_class.students.order(:kana).each do |s| %>
    <%= link_to s.name, s, class: 'collection-item' %>
  <% end %>
</div>

<% if @school_class.teachers.include?(current_teacher) %>
  <%= link_to "#modal2", class: 'btn green' do %>
    <%= fa_icon 'user-plus' %>&nbsp;生徒を新規作成
  <% end %>

  <%= link_to new_school_class_student_class_path(@school_class), class: 'btn blue' do %>
    <%= fa_icon 'plus' %>&nbsp;既存の生徒を追加
  <% end %>
<% end %>

<br>

<%= link_to 'Back', school_classes_path %>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <%= form_for(@school_class.class_teachers.build, url: school_class_class_teachers_path(@school_class)) do |f| %>
      <%= f.label :teacher_id %>
      <%= f.collection_select :teacher_id, @teachers, :id, :name %>
      <br>
      <%= f.button '送信', class: 'btn', data: { disable_with: '送信中・・・' } %>
    <% end %>
  </div>
</div>

<div id="modal2" class="modal">
  <div class="modal-content">
    <%= form_for(@student, url: school_class_students_path(@school_class)) do |f| %>

  <div class="input-field">
    <%= f.label '名前' %>
    <%= f.text_field :name %>
  </div>
  <div class="input-field">
    <%= f.label 'かな' %>
    <%= f.text_field :kana %>
  </div>
  <div class="input-field">
    <%= f.label '学籍番号' %>
    <%= f.text_field :student_number %>
  </div>
  <div class="actions">
    <%= f.submit '保存', class: 'btn', data: { disable_with: "保存中..." } %>
  </div>
    <% end %>
  </div>
</div>