<% content_for :title, '教員一覧' %>

<% if @teachers %>
  <div class="collection">
    <% @teachers.each do |t| %>
      <%= link_to t.name, t, class: 'collection-item' %>
    <% end %>
  </div>
<% end %>