<% content_for :title, @teacher.name %>
<h5><%= @teacher.name %></h5>
<% if @teacher == current_teacher %>
  <small><%= fa_icon 'user' %>&nbsp;これはあなたです</small>
<% end %>

<div class="row">
  <div class="col m6 s12">
    <div class="collection">
      <div class="collection-item">
        <h5>担当クラス</h5>
      </div>
      <% @teacher.school_classes.each do |c| %>
        <%= link_to c, class: 'collection-item' do  %>
          <%= c.name %>
          <span class="secondary-content">
            <%= c.students.length %>&nbsp;
            <%= fa_icon 'user' %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col m6 s12">
    <div class="collection">
      <div class="collection-item">
        <h5>担当科目</h5>
      </div>
      <% @teacher.subjects.each do |s| %>
        <%= link_to s, class: 'collection-item' do %>
          <%= s.name %>
          <span class="secondary-content">
            <%= s.students.length %>&nbsp;
            <%= fa_icon 'user' %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<%= link_to 'Back', teachers_path %>