<%= form_for(@student_class) do |f| %>
  <% if @student_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_class.errors.count, "error") %> prohibited this student_class from being saved:</h2>

      <ul>
      <% @student_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :school_class_id %><br>
    <%= f.number_field :school_class_id %>
  </div>
  <div class="field">
    <%= f.label :attendance_number %><br>
    <%= f.number_field :attendance_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
