<p id="notice"><%= notice %></p>

<h1>Listing Student Classes</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>School class</th>
      <th>Attendance number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_classes.each do |student_class| %>
      <tr>
        <td><%= student_class.student_id %></td>
        <td><%= student_class.school_class_id %></td>
        <td><%= student_class.attendance_number %></td>
        <td><%= link_to 'Show', student_class %></td>
        <td><%= link_to 'Edit', edit_student_class_path(student_class) %></td>
        <td><%= link_to 'Destroy', student_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student class', new_student_class_path %>
