<h1><%= @school_class.name %>に生徒を追加</h1>


<%= form_tag action: :create do %>
<table>
  <thead>
    <tr>
      <th>チェック</th>
      <th>学籍</th>
      <th>名前</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |s| %>
      <tr>
        <td><%= check_box_tag 'student_ids[]', s.id, false, { id: "student_ids_#{s.id}" } %>
          <%= label_tag 'student_ids[]', ' ', for: "student_ids_#{s.id}" %></td>
        <td><%= s.name %></td>
        <td><%= s.student_number %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
<%= submit_tag '追加', class: 'btn', data: { disable_with: "処理中..." } %>
<% end %>
<%= link_to 'Back', student_classes_path %>
