<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student_class.student_id %>
</p>

<p>
  <strong>School class:</strong>
  <%= @student_class.school_class_id %>
</p>

<p>
  <strong>Attendance number:</strong>
  <%= @student_class.attendance_number %>
</p>

<%= link_to 'Edit', edit_student_class_path(@student_class) %> |
<%= link_to 'Back', student_classes_path %>
