<!DOCTYPE html>
<html>
<head>
  <title>成績管理システム</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <% if flash[:toast] %>
    <script>
      $(document).ready(function(){
        Materialize.toast('<%= flash[:toast] %>', 4000);
      });
    </script>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body class="grey lighten-3">

<%= render 'shared/nav' %>


<!-- Main Contents -->
<main class="row">
  <!-- Left Contents -->
  <div class="col s2">
    <div class="collection with-header white z-depth-1">
      <div class="collection-header teal white-text">
        <h5><%= link_to current_teacher.name, root_path, class: 'white-text' %></h5>
        <p>ID: <%= current_teacher.login_id %></p>
      </div>
      <%= link_to edit_teacher_path(current_teacher), class: 'collection-item' do %>
        <%= fa_icon 'edit' %>&nbsp;ユーザ情報編集
      <% end %>
      <%= link_to logout_path, class: 'collection-item' do %>
        <%= fa_icon 'sign-out' %>&nbsp;ログアウト
      <% end %>
    </div>

    <ul class="collapsible collection with-header" data-collapsible="expandable">
      <div class="collection-header teal white-text">
        <h5>今期担当</h5>
      </div>
      <li>
        <div class="collapsible-header"><%= fa_icon 'users' %>担当クラス</div>
        <div class="collapsible-body">
          <% current_teacher.school_classes.each do |school_class| %>
            <%= link_to school_class.name, school_class, class: 'collection-item' %>
          <% end %>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><%= fa_icon 'pencil' %>担当科目</div>
        <div class="collapsible-body">
          <% current_teacher.subjects.each do |subject| %>
            <%= link_to subject.name, subject, class: 'collection-item' %>
          <% end %>
        </div>
      </li>
    </ul>

    <div class="collection white z-depth-1">
      <%= link_to 'HOME', root_path, class: 'collection-item' %>
      <%= link_to 'クラス一覧', school_classes_path, class: 'collection-item' %>
      <%= link_to '教員一覧', teachers_path, class: 'collection-item' %>
      <%= link_to '生徒一覧', students_path, class: 'collection-item' %>
      <%= link_to '科目マスター', subject_masters_path, class: 'collection-item' %>
      <%= link_to '科目一覧', subjects_path, class: 'collection-item' %>
    </div>
  </div>

  <!-- Right Contents -->
  <div class="col s10">
    <!-- Flash Message -->
    <%= render 'shared/flash_message' %>

    <div class="collection with-header">
      <div class="collection-header teal white-text">
        <h5><%= yield(:title) %></h5>
      </div>
      <div class="white collection-item">
        <%= yield %>
      </div>
    </div>
  </div>
</main>

<%= render 'shared/footer' %>

</body>
</html>
