<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) + " | " : "" %>成績管理システム</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <% if flash[:toast] %>
    <script>
      $(document).ready(function(){
        Materialize.toast('<%= flash[:toast] %>', 4000);
      });
    </script>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body class="grey lighten-2">

<!-- Main Contents -->
<main class="container">
  <!-- Flash Message -->
  <%= render 'shared/flash_message' %>

  <%= yield %>
</main>

</body>
</html>
